<h1>Welcome to our website</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit
    . At incidunt tempora veritatis distinctio repudiandae pariatur quae a rem corrupti ipsam!
</p>
<a href="/users/register" class="button"  >Sign up free</a>
<p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
<p>Lorem, ipsum.</p>


 <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto">
        <h1 class="text-center display-4 my-4">File Uploads</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <div class="custom-file mb-3">
            <input type="file" name="file" id="file" class="custom-file-input">
            <label for="file" class="custom-file-label"></label>
          </div>
          <input type="submit" value="Submit" class="btn btn-primary btn-block">
        </form>
        <hr>
        {{#if files}}
          {{#each files}}
            <div class="card card-body mb-3">
              {{#if file.isImage}}
                <img src="image/{{file.filename}}" alt="">
                {{else}}
                   {{file.filename}}
                                       {{/if}}
                      <form method="POST" action="/files/{{file._id}}?_method=DELETE">
                        <button class="btn btn-danger btn-block mt-4">Delete</button>
                      </form>
            </div>
            {{/each}}
              {{else}}
                <p>No files to show</p>
                {{/if}}
      </div>
    </div>
  </div>